body {
    background: #333;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /*animation-iteration-count: infinite;*/

    /*animation-delay: 2s;*/

    /*animation-direction: reverse;*/
    /*animation-direction: alternate;*/

    /*animation-timing-function: linear;*/
    /*animation-timing-function: ease-in; // Starting slow and ending fast.*/
    animation-timing-function: ease-in-out; // Default. Start sllow and end slow.

    animation-fill-mode: forwards; // This is supposed to keep the end state stay like the 100%, circle shape. But it does not work here.
}

/*@keyframes myanimation {*/
/*    0% {*/
/*        background-color: white;*/
/*        left: 0;*/
/*        top: 0;*/
/*        border-radius: 0 0 0 0;*/
/*    }*/

/*    25% {*/
/*        background-color: red;*/
/*        left: 300px;*/
/*        top: 0;*/
/*        border-radius: 50% 0 0 0;*/
/*    }*/

/*    50% {*/
/*        background-color: green;*/
/*        left: 300px;*/
/*        top: 300px;*/
/*        border-radius: 50% 50% 0 0;*/
/*    }*/

/*    75% {*/
/*        background-color: blue;*/
/*        left: 0;*/
/*        top: 300px;*/
/*        border-radius: 50% 50% 50% 0;*/
/*    }*/

/*    100% {*/
/*        background-color: white;*/
/*        left: 0;*/
/*        top: 0;*/
/*        border-radius: 50% 50% 50% 50%;*/
/*    }*/
/*}*/


@keyframes myanimation {
    0% {
        background-color: white;
        border-radius: 0 0 0 0;
    }

    25% {
        background-color: red;
        border-radius: 50% 0 0 0;
    }

    50% {
        background-color: green;
        border-radius: 50% 50% 0 0;
    }

    75% {
        background-color: blue;
        border-radius: 50% 50% 50% 0;
    }

    100% {
        background-color: white;
        border-radius: 50% 50% 50% 50%;
    }
}
